<div class="main">
    <header class="header">
        <ul class="menu">
            <li class="menu__item"><a class="menu__link">Home</a></li>
            <li class="menu__item"><a class="menu__link">Profile</a></li>
            <li class="menu__item"><a class="menu__link">About us</a></li>
            <li class="menu__item"><a class="menu__link">benefits</a></li>
            <li class="menu__item"><a class="menu__link">signup</a></li>
        </ul>
        <ul class="menu menu-right">
            <li class="menu__item"><a class="menu__link">Blog</a></li>
            <li class="menu__item"><a class="menu__link">FaQ's</a></li>
        </ul>
    </header>
    <section class="first-section">
        <div class="info">
            <h1 class="heading"> welcome to monie pop,your best financial partner.</h1>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea iure iusto incidunt.
            </p>
            <a class="btn btn--start">Get started</a>
        </div>
        <div class="visuals">
            <div class="image-container">
                <img src="/assets/img/image.png" alt="">
            </div>
            <div class="image-container">
                <img src="/assets/img/image.png" alt="">
            </div>
        </div>
    </section>
    <section class="second-section">
        <div class="box">
            <h4 class="heading-4" id="about">About Us</h4>
            <h1 class="heading-1">Get affordable loans today</h1>
            <div class="info-1">
                <div class="info-1__text">
                    <span class="quote">
                        "
                    </span>
                    <h2 class="heading-3">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores non alias omnis.
                    </h2>
                    <p class="paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <a class="btn--learn">learn More</a>
                </div>
                <div class="info-1__visual">
                    <img src="/assets/img/image2.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>